In [44]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    if n % 2 != 0:
        print("Weird")
    else:
        if n in range(2,6):
            print("Not Weird")
        elif n in range(6,21):
            print("Weird")
        else:
            print("Not Weird")

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    def sum(a,b) :
        return a+b
    def difference(a,b):
        return a-b
    def multiply(a,b):
        return a*b
    c = sum(a,b)
    d = difference(a,b)
    e = multiply(a,b)
    print(c)
    print(d)
    print(e)

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    def int_division(a,b):
        return a//b
    def float_division(a,b):
        return a/b
    c = int_division(a,b)
    d = float_division(a,b)

    print(c)
    print(d)

In [ ]:
if __name__ == '__main__':
    n = int(input())
    result = 0
    for i in range(n):
      result = i * i
      print(result)

In [ ]:
def is_leap(year):
    leap = False
    if year % 4 != 0:
        leap = False
    elif year % 400 == 0:
        leap = True
    elif year %100 != 0:
        leap = True
    return leap

# year = int(input())
# c = is_leap(year)

year = int(input())
print(is_leap(year))

In [ ]:
if __name__ == '__main__':
    n = int(input())
    def strings(n):
        result = ''
        for i in range(1,n+1):
            result += str(i)
        print(result)
c = strings(n)